@font-face {
  font-family: "PressStart2P";
  src: url("../public/fonts/Retroville NC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #08111b;
  font-family: "PressStart2P", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background: #08111b;
}

::-webkit-scrollbar-track {
  background: #08111b;
}

::-webkit-scrollbar-thumb {
  background-color: #142b42;
  border-radius: 20px;
  border: 3px #142b42;
}

.Toastify__toast-container {
  font-size: 1rem;
  color: #fff;
  z-index: 10000000 !important;
}

.Toastify__toast-theme--dark {
  border-radius: 0;
}

:root {
  --toastify-color-light: #0a121a;
  --toastify-color-dark: #0a121a;
  --toastify-color-info: #0a121a;
  --toastify-color-success: #77cf49;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #ff4c01;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 360px;
  --toastify-toast-background: #0a121a;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: "PressStart2P", sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );

  --toastify-color-progress-dark: #142b42;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.react-confirm-alert {
  z-index: 9999999 !important;
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999 !important;
  background: #08111b !important;
}

.vending-machine-base {
  animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}
